:root {
    --bg-color: rgb(147, 216, 246);
    --text-color: black;
  }
   
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: rgb(29, 4, 96);
      --text-color: white;
    }
  }

body { 
    font-family:"Playfair Display", serif;; 
    font-size: 18px;
    font-weight: 400; 
    line-height: 1.6; 
    margin: 0; 
    padding: 20px; 
    background-color: var(--bg-color); 
  }

.header {
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    padding-top: 10px;
    height: 100px;
    width:300px;
    background-color: rgb(68, 160, 245);
    border: #2e70b2 solid 5px;
    border-radius: 5px; 
    z-index: 1;
    font-size: 32px;
    padding: 15px;
}

.zagolovok {
    font-family: 'Bookman', sans-serif;
    color: var(--text-color);
    text-align: center;
    margin: 40px;
}

#pic1 {
    position: relative;
    left: 100px;
}

#pic2 {
    position:absolute;
    top: 820px; left:800px;
}

.text {
    box-sizing: border-box;
    min-height: 100px;
    width: 1400px;
    margin: 15px;
    text-align: justify;
    border: #0f2d4c solid 5px;
    border-radius: 5px; 
    padding: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #469a02;
    transform: scale(1.05); 
}


#top {
    margin-top: 30px;
}

#myBtn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.zagolovok ~ .text {
    color: var(--text-color);
}

#myBtn {
    background-color: #84abd5;
    color: rgb(21, 8, 101);
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

#myBtn:hover {
    background-color: #0056b3; 
}

