:root {
    --bg-color: rgb(147, 216, 246);
    --text-color: black;
  }
   
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: rgb(29, 4, 96);
      --text-color: white;
    }
  }

::selection {
    color:aliceblue;
    background-color: #b22eabcc;
}

body { 
    position: relative;
    font-family:"Playfair Display", serif;; 
    font-size: 18px;
    font-weight: 400; 
    line-height: 1.6; 
    margin: 0; 
    padding: 20px; 
    background-color: var(--bg-color); 
  }

section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1em;
}

header {
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    padding-top: 10px;
    height: 80px;
    width:1200px;
    border: #2e70b2 solid 5px;
    border-radius: 5px; 
    z-index: 1;
    font-size: 32px;
    padding: 15px;
    background-color: #0f2d4c;
}

.zagolovok {
    position: relative;
    font-family: 'Bookman', sans-serif;
    color: var(--text-color);
    text-align: center;
    margin: 40px;
}

#pic1 {
    position: relative;
    left: 100px;
}

#pic2 {
    position:relative;
    left:420px;
}

.card {
    width: 200px;
    border: #0f2d4c solid 2px;
    border-radius: 2%;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: last baseline;   
}

.text {
    box-sizing: border-box;
    min-height: 100px;
    width: 1400px;
    margin: 15px;
    text-align: justify;
    border: #0f2d4c solid 5px;
    border-radius: 5px; 
    padding: 10px;
}

.ss {
    box-sizing: border-box;
    border: #0f2d4c solid 5px;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    margin: 10px;
}

#logo2 {
    box-align: right;
}

ul {
    list-style-type: square;
    padding-left: 2em;
    padding: 0;
    max-width: 300px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #469a02;
    transform: scale(1.02); 
}

.ss {
    color:aliceblue;
}

.ss:active {
    background-color: rgba(175, 250, 225, 0.951);
}

.ss:hover {
    color:darkblue;
}

.ss:hover {
    color:rgb(8, 8, 62);
}

a:visited {
    color:rgb(233, 215, 250);
}

#top {
    margin-top: 30px;
}

#myBtn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.zagolovok ~ .text {
    color: var(--text-color);
}

#myBtn {
    background-color: #84abd5;
    color: rgb(21, 8, 101);
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

#myBtn:hover {
    background-color: #0056b3; 
}

footer {
    margin-bottom: -50px;
    background-image: linear-gradient(to right, #2e70b2b6, white);
}



fieldset {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.container {
    display: grid;
    grid-template-columns: 0.35fr auto  400px  auto 100px;
    grid-column-gap: 1cm;
}

.item {
    grid-column-start: auto;
    justify-self: center;
    box-shadow:8px 2px 20px 5px white;
}

.icon {
    width: 16px;
    height: 16px;
}

#send:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#send:active{
    background-color: #2e70b2;
    color:aliceblue;
}

.item::first-letter {
    font-size: 2rem;
}

.item::after {
    content:'!!!'
}

.item:nth-child(2n){
    color:#842eb2;
    background-color:#cfa4e6;
}

.item:nth-child(2n+1){
    color:#cfa4e6;
    background-color: #842eb2;;
}

legend {
    color:#0f2d4c;
}

::placeholder {
    color: #aa3fe3;
}

#load {
    height: 220px;
}

#load:hover #cart {
    opacity: 1;
}

#load:hover #zagr {
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#cart {
    opacity: 0;
    transition: opacity 10s;
    position: absolute;
    margin-bottom: 40px;
    z-index: 1;
    max-width: 230px;
}

#zagr {
    opacity: 1;
    transition: opacity 10s;
    animation: spin 10s infinite ;
    width: 32px;
    height: 32px;
    margin-top: 50%;
    margin-left: 50%;
    margin-right: 50%;
}